.app-header {
    .desc-container,
    .form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .desc-container {
        min-height: 180px;
        font-size: 1.6rem;
        color: white;
        text-align: center;
        font-weight: 300;

        .title {
            font-weight: 300;
            margin: 0 0 5px 0;
        }
    }
}
